[Unit]
Description=Context Daemon
After=network.target

[Service]
ExecStart=/usr/bin/contextd
DynamicUser=yes
SupplementaryGroups=input
StateDirectory=contextd
RuntimeDirectory=contextd
BindPaths=/run/contextd
BindReadOnlyPaths=/usr/lib /usr/lib64 /lib /lib64 /etc/ld.so.cache -/etc/contextd /home /run/udev /sys /usr/share/hwdata /usr/share/vulkan /usr/share/glvnd
ProtectHome=read-only
# Capabilities for Hardware/Home/Process discovery
CapabilityBoundingSet=CAP_SYS_PTRACE CAP_DAC_READ_SEARCH
AmbientCapabilities=CAP_SYS_PTRACE CAP_DAC_READ_SEARCH
NoNewPrivileges=yes

# Accounting
CPUAccounting=yes
MemoryAccounting=yes
IOAccounting=yes
TasksAccounting=yes
IPAccounting=yes

# Sandboxing & Security
ProtectSystem=strict
ProtectHome=read-only
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectClock=yes
MemoryDenyWriteExecute=yes
RestrictAddressFamilies=AF_UNIX AF_NETLINK
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes
PrivateDevices=no
PrivateTmp=yes
SystemCallFilter=@system-service @process @file-system
SystemCallErrorNumber=EPERM

[Install]
WantedBy=multi-user.target

