[Unit]
Description=Context Daemon - RGB Control Extension
After=network.target contextd.service
Requires=contextd.service

[Service]
ExecStart=/usr/bin/contextd --rgb
DynamicUser=yes
SupplementaryGroups=input
StateDirectory=contextd
RuntimeDirectory=contextd
BindPaths=/run/contextd
BindReadOnlyPaths=/usr/lib /usr/lib64 /lib /lib64 /etc/ld.so.cache -/etc/contextd /home /run/udev /sys
ProtectHome=read-only
NoNewPrivileges=yes

# Sandboxing & Security
ProtectSystem=strict
ProtectHome=read-only
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectClock=yes
MemoryDenyWriteExecute=yes
RestrictAddressFamilies=AF_UNIX AF_NETLINK
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes
PrivateDevices=no
PrivateTmp=yes
SystemCallFilter=@system-service @process @file-system
SystemCallErrorNumber=EPERM

[Install]
WantedBy=multi-user.target
